In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv("Mine.csv")
df.head()

   Duration         Date  Pulse  Maxpulse  Calories
0        60  2023/10/01'  110.0     130.0     409.1
1        60  2023/10/02'  117.0     145.0     479.0
2        60  2023/10/03'  103.0     135.0     340.3
3        45  2023/10/04'  109.0     175.0     282.4
4        45  2023/10/05'  117.0     150.0     405.1

# 1. Handle Missing Values

In [52]:
# Lets fill missing pulses with median since it is less affected by outliers
pulse_median = df['Pulse'].median()
df['Pulse'] = df['Pulse'].fillna(pulse_median)
df.head(15)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0       NaN
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0       NaN     240.8
14        60  2023/10/15'  120.0     100.0     240.8

In [53]:
# Now we fill missing maxpulses with median as well
maxpulse_median = df['Maxpulse'].median()
df['Maxpulse'] = df['Maxpulse'].fillna(maxpulse_median)
df.head(15)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0       NaN
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0     125.0     240.8
14        60  2023/10/15'  120.0     100.0     240.8

In [54]:
# We also fill missing calories with median
calories_median = df['Calories'].median()
df['Calories'] = df['Calories'].fillna(calories_median)
df.head(15)

    Duration         Date  Pulse  Maxpulse  Calories
0         60  2023/10/01'  110.0     130.0     409.1
1         60  2023/10/02'  117.0     145.0     479.0
2         60  2023/10/03'  103.0     135.0     340.3
3         45  2023/10/04'  109.0     175.0     282.4
4         45  2023/10/05'  117.0     150.0     405.1
5         60  2023/10/06'  103.0     125.0     300.0
6         60  2023/10/07'  110.0     135.0     374.0
7        400  2023/10/08'  114.0     133.0     282.4
8         60  2023/10/09'  112.0     126.0     193.8
9         30  2023/10/10'  102.0     147.0     234.8
10        60  2023/10/11'  100.0     129.0     375.3
11        60  2023/10/12'  109.0     131.0     345.6
12        60  2023/10/13'  103.0     136.0     239.2
13        60  2023/10/15'  120.0     125.0     240.8
14        60  2023/10/15'  120.0     100.0     240.8

# 2. Fix Inconsistent Date Formats

In [56]:
# Removing trailing apostrophe characters from dates
df['Date'] = df['Date'].str.replace("'", '', regex=True)
df.head(15)

    Duration        Date  Pulse  Maxpulse  Calories
0         60  2023/10/01  110.0     130.0     409.1
1         60  2023/10/02  117.0     145.0     479.0
2         60  2023/10/03  103.0     135.0     340.3
3         45  2023/10/04  109.0     175.0     282.4
4         45  2023/10/05  117.0     150.0     405.1
5         60  2023/10/06  103.0     125.0     300.0
6         60  2023/10/07  110.0     135.0     374.0
7        400  2023/10/08  114.0     133.0     282.4
8         60  2023/10/09  112.0     126.0     193.8
9         30  2023/10/10  102.0     147.0     234.8
10        60  2023/10/11  100.0     129.0     375.3
11        60  2023/10/12  109.0     131.0     345.6
12        60  2023/10/13  103.0     136.0     239.2
13        60  2023/10/15  120.0     125.0     240.8
14        60  2023/10/15  120.0     100.0     240.8

In [57]:
# Converting to datetime while handling both formats
def parse_date(date_str):
    if pd.isna(date_str):
        return pd.NaT
    try:
        return pd.to_datetime(date_str, format='%Y/%m/%d')
    except:
        try:
            return pd.to_datetime(date_str, format='%Y%m%d')
        except:
            return pd.NaT

df['Date'] = df['Date'].apply(parse_date)
df.head(20)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  115.5     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     282.4
19        60 2023-10-20  162.0     105.0     300.9

In [58]:
# Drop rows with missing dates
df = df.dropna(subset=['Date'])
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  115.5     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     282.4
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     282.4
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
30        60 2023-10-31   94.0     126.0     282.4

# 3. Remove Duplicate Rows

In [60]:
df = df.drop_duplicates()
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
14        60 2023-10-15  120.0     100.0     240.8
15        60 2023-10-16  115.5     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     282.4
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     282.4
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
30        60 2023-10-31   94.0     126.0     282.4

In [61]:
# Removing exact duplicates (such as the two entries for 2023-10-15)
df = df.drop_duplicates(subset=['Date'], keep='first')
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7        400 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
15        60 2023-10-16  115.5     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     282.4
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     282.4
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
30        60 2023-10-31   94.0     126.0     282.4

# 4. Fix Wrong Data

In [63]:
# 400 minutes is likely a typo, it is unrealistic
df.loc[df['Duration'] == 400, 'Duration'] = 40
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7         40 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
15        60 2023-10-16  115.5     101.0     243.8
16        60 2023-10-17  127.0     102.0     380.2
17        45 2023-10-18  142.0     103.0     241.4
18        60 2023-10-19  151.0     104.0     282.4
19        60 2023-10-20  162.0     105.0     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     282.4
23        60 2023-10-24  134.0     125.0     239.7
24        60 2023-10-25  132.0     110.0     236.9
25        60 2023-10-26  135.0     118.0     278.8
26        60 2023-10-27  137.0     119.0     212.9
27        60 2023-10-28  138.0     121.0     345.9
28        60 2023-10-29  139.0     122.0     345.2
30        60 2023-10-31   94.0     126.0     282.4

In [64]:
# Fixing cases where Maxpulse is less than Pulse
mask = df['Maxpulse'] < df['Pulse']
df.loc[mask, 'Maxpulse'] = df.loc[mask, 'Pulse'] * 1.2  # Setting the maxpulse to 20% higher than Pulse
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2023-10-01  110.0     130.0     409.1
1         60 2023-10-02  117.0     145.0     479.0
2         60 2023-10-03  103.0     135.0     340.3
3         45 2023-10-04  109.0     175.0     282.4
4         45 2023-10-05  117.0     150.0     405.1
5         60 2023-10-06  103.0     125.0     300.0
6         60 2023-10-07  110.0     135.0     374.0
7         40 2023-10-08  114.0     133.0     282.4
8         60 2023-10-09  112.0     126.0     193.8
9         30 2023-10-10  102.0     147.0     234.8
10        60 2023-10-11  100.0     129.0     375.3
11        60 2023-10-12  109.0     131.0     345.6
12        60 2023-10-13  103.0     136.0     239.2
13        60 2023-10-15  120.0     125.0     240.8
15        60 2023-10-16  115.5     138.6     243.8
16        60 2023-10-17  127.0     152.4     380.2
17        45 2023-10-18  142.0     170.4     241.4
18        60 2023-10-19  151.0     181.2     282.4
19        60 2023-10-20  162.0     194.4     300.9
20        60 2023-10-21  100.0     106.0     280.0
21        60 2023-10-22  103.0     107.0     282.4
23        60 2023-10-24  134.0     160.8     239.7
24        60 2023-10-25  132.0     158.4     236.9
25        60 2023-10-26  135.0     162.0     278.8
26        60 2023-10-27  137.0     164.4     212.9
27        60 2023-10-28  138.0     165.6     345.9
28        60 2023-10-29  139.0     166.8     345.2
30        60 2023-10-31   94.0     126.0     282.4

# 5. Check for Unnecessary Columns 
All columns seem relevant in my view

In [66]:
# Finally, Data Type Conversions
# Convert multiple columns at once using .loc
df.loc[:, ['Duration', 'Pulse', 'Maxpulse']] = df[['Duration', 'Pulse', 'Maxpulse']].astype(int)

In [67]:
# Resetting index after cleaning
df = df.reset_index(drop=True)

In [68]:
# Data Summary

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  28 non-null     int64
 1   Date      28 non-null     datetime64[ns]
 2   Pulse     28 non-null     float64
 3   Maxpulse  28 non-null     float64
 4   Calories  28 non-null     float64
dtypes: datetime64[ns](1), float64(3), int64(1)
memory usage: 1.2 KB

In [70]:
df.describe()

,Duration,Date,Pulse,Maxpulse,Calories
count,28.000000,28,28.000000,28.000000,28.000000
mean,56.607143,2023-10-15 07:42:51.428571392,119.214286,145.392857,301.953571
min,30.000000,2023-10-01 00:00:00,94.000000,106.000000,193.800000
25%,60.000000,2023-10-07 18:00:00,103.000000,129.750000,241.250000
50%,60.000000,2023-10-15 12:00:00,114.500000,141.500000,282.400000
75%,60.000000,2023-10-22 12:00:00,134.250000,162.500000,345.675000
max,60.000000,2023-10-31 00:00:00,162.000000,194.000000,479.000000
std,7.823702,NaN,17.554903,21.789123,68.648517

In [73]:
# Saving cleaned data
df.to_csv('cleaned_fitness_data.csv', index=False)